body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #fff;
}

label {
    font-size: 24px;
}

.hidden {
    display: none;
}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
    .form-container {
        width: 100%;
        max-width: 400px;
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 10px;
        order: 2; /* Define a ordem de exibição */
    }

    .form-content input[type="text"],
    .form-content input[type="tel"] {
        width: 100%;
    }
}

/* Estilos para tablets e desktops */
@media (min-width: 768px) {
    .form-container {
        width: 400px;
        height: 400px;
        background-color: #f2f2f2;
        border-radius: 5px;
        padding: 20px;
        order: 2; /* Define a ordem de exibição */
    }

    .form-content {
        margin-bottom: 20px;
    }

    .form-content input[type="text"],
    .form-content input[type="tel"] {
        width: 100%;
        height: 25px;
    }
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
    order: 1; /* Define a ordem de exibição */
}

.image-container img {
    width: 100%;
}

.form-content input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;

    background-color: #07128a;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 20px;
}

.form-content input[type="submit"]:hover {
    background-color: #2140b1;
}